name: Terraform Apply

on:
  push:
    branches:        
      - "master"

jobs:
  terraform:
    name: Linux build on node ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set Environment
      run: |
        export GCP_REGION=europe-west1
        export GCP_ZONE=b
        export GKE_CLUSTER_NAME=silvester-cluster
        export PROJECT_ID=$(gcloud config list --format 'value(core.project)')
        export KUBEIP_NODEPOOL=silvester-nodepool-apps
        export KUBEIP_SELF_NODEPOOL=silvester-nodepool-ingress



    - name: INSTALL - CLI - GCLoud
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: silvester-304916
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    
    - name: "INSTALL - CLI - Terraform"
      uses: hashicorp/setup-terraform@v1
 
    - name: INSTALL - CLI - Helm
      uses: azure/setup-helm@v1




    - name: "CLUSTER - Terraform - Init"
      run: terraform init -input=false

    - name: "CLUSTER - Terraform - Import - Cluster"
      run: terraform import google_container_cluster.silvester_cluster $GCP_REGION-$GCP_ZONE/$GKE_CLUSTER_NAME
      continue-on-error: true

    - name: "CLUSTER - Terraform - Import - Ingress Node Pool"
      run: terraform import google_container_node_pool.silvester_nodepool_ingress $GCP_REGION-$GCP_ZONE/$GKE_CLUSTER_NAME/silvester-nodepool-ingress 
      continue-on-error: true

    - name: "CLUSTER - Terraform - Import - Apps Node Pool"
      run: terraform import google_container_node_pool.silvester_nodepool_apps $GCP_REGION-$GCP_ZONE/$GKE_CLUSTER_NAME/silvester-nodepool-apps 
      continue-on-error: true

    - name: "CLUSTER - Terraform - Apply"
      run: terraform apply -input=false -auto-approve




    - name: "KUBERNETES - Set Credentials"
      uses: google-github-actions/get-gke-credentials@main
      with:
        cluster_name: $GKE_CLUSTER_NAME
        location: $GCP_REGION-$GCP_ZONE
        credentials: ${{ secrets.GCP_SA_KEY }}

    - name: "KUBERNETES - Install Nginx Ingress Controller"
      run: |
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
        helm repo update
        helm upgrade --install nginx-ingress ingress-nginx/ingress-nginx -f ./charts/nginx-ingress-controller/values.yaml --namespace ingress-nginx --kubeconfig $KUBECONFIG
    
    - name: "KUBERNETES - Open HTTP & TLS Ports"
      run: |
        gcloud compute firewall-rules create http-node-port --allow tcp:80
        gcloud compute firewall-rules create tls-node-port --allow tcp:443

    #- name: "KUBERNETES - Install KubeIP"
     # run: |
      # gcloud iam service-accounts create kubeip-service-account --display-name "kubeIP"
      # gcloud iam roles create kubeip --project $PROJECT_ID --file roles.yaml
      # gcloud projects add-iam-policy-binding $PROJECT_ID --member serviceAccount:kubeip-service-account@$PROJECT_ID.iam.gserviceaccount.com --role projects/$PROJECT_ID/roles/kubeip